.button{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 0;
    background-color: blue;
    color: white;
    font-weight: 700;
    cursor: pointer;
}




@media screen and (min-width: 1024px)  {


    .button{
        padding: 1rem 2rem;
        font: 20px;

    }
}



