.wrapper{
    height: 30rem;
    position: relative
}
.para{
    color: white;
    font-size: 1rem;
    padding: 0 1rem;
    text-align: center;

}
.btnContainer{
    position: absolute;
    top: 50%;
    text-align: center;
}
.ideal{
 
}
.buttonStyle{
    background-color: #eba134;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 2rem;
}

@media screen and (min-width: 1024px)  {

.wrapper{
    height: 50rem;
}
.para{
    font-size: 2rem;

}
.btnContainer{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

}
    
